/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

/*
=============== 
Loading
===============
*/
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/* my css */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* setup form */

#setup {
  background-color: white;
  border-radius: var(--radius);
  padding: 3rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.input_container:first-of-type {
  margin-top: 1rem;
}

.input_container:last-of-type {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: var(--spacing);
  text-align: center;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  
}

.input_label{
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}

.input_input {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: var(--radius);
  background-color: var(--clr-grey-10);
}

#setup_button {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  padding: 0.25rem 0;
  font-weight: 700;
  letter-spacing: var(--spacing);
  margin-top: 1rem;
  border-color: transparent;
  background-color: #ffb100;
  cursor: pointer;
}

/* question */

#question {
  width: var(--max-width);
  background-color: white;
  border-radius: var(--radius);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#counter {
  width: 100%;
  text-align: end;
  font-size: 1rem;
  color: var(--clr-green-dark);
  letter-spacing: var(--spacing);
  margin-bottom: 3rem;
}

#answers {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.answer {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: var(--clr-primary-7);
  margin-bottom: 0.75rem;
  padding: 0.4rem 0;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.answer:hover {
  background-color: var(--clr-primary-5);
  color: white;
}

.next_question {
  align-self: flex-end;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  padding: 0.25rem 0;
  width: 35%;
  border-color: transparent;
  border-radius: var(--radius);
  background-color:#ffb100;
  cursor: pointer;
  transition: var(--transition);
}

.next_question:hover {
  background-color: #805900;
  color: #ffb100;
}

/* modal */

#modal_container {
  background-color:rgba(0,0,0,.75);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s;
}

#modal_box {
  width: 620px;
  background-color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#modal_text {
  font-size: 1.5rem;
  color: var(--clr-grey-3);
  margin: 1rem 0;
  text-align: center;
}

.modal_button {
  font-size: 1rem;
  font-weight: 700;
  width: 35%;
  margin-top: 1rem;
  letter-spacing: var(--spacing);
  border-color: transparent;
  background-color: #ffb100;
  padding: 0.2rem 0;
  border-radius: var(--radius);
  cursor: pointer;
}

/* media */

@media only screen and (max-width: 799px) {
  h2 {
    font-size: 2rem;
  } .input_label {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 560px) {
  #setup {
    width: 89vw;
  }
}

@media only screen and (max-width: 1300px) {
  #question {
    width: 90vw;
  }
}

@media only screen and (max-width: 575px) {
  #answers {
    width: 100%;
  }
}

@media only screen and (max-width: 692px) {
  #modal_box {
    width: 90vw;
  }
}